<div class="resume-container">
  <div class="background-Img">
    <img src="assets/images/top-trending/connectMe.png" alt="Connect preview" class="resume-img">
    <div class="gradient-overlay"></div>

    <div class="close">
      <button class="close-btn" (click)="onClose()">
        <i class="fa-solid fa-circle-xmark fa-2x" style="color: #221F1F;"></i>
      </button>
    </div>

    <div class="overlay-content">
      <h1 class="title">Let's CONNECT</h1>
    </div>
  </div>

  <div class="about-section">
    <div class="about-title">
      <span class="about-me">Connect With Me</span>
    </div>
    <div class="about-content">

      <h3>Email</h3>
      <p><a href="mailto:pranayjain1382@gmail.com&#64;example.com"><i class="fa-solid fa-envelope" style="color: #e50914"></i> pranayjain1382&#64;gmail..com</a></p>

      <h3>Phone</h3>
      <p><a href="tel:+917387066313"><i class="fa-solid fa-phone-volume" style="color: #e50914"></i> +91 738706313</a></p>

      <h3>LinkedIn</h3>
      <p><a href="https://www.linkedin.com/in/pranay-jain1308" target="_blank"><i class="fa-brands fa-linkedin" style="color: #e50914"></i> https://www.linkedin.com/in/pranay-jain1308</a></p>

      <h3>GitHub</h3>
      <p><a href="https://github.com/Parthjain1382" target="_blank"><i class="fa-brands fa-github" style="color: #e50914"></i>  https://github.com/Parthjain1382</a></p>

      <h3>Location</h3>
      <p>Nagpur, Maharashtra, India</p>
    </div>
  </div>
</div>
